<NavLink class="nav-link" Match="NavLinkMatch.All" href="@Href">
        <div class="btn-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 256 256">
                        <path d="@Path"></path>
                </svg>
                @Text
        </div>
</NavLink>
