<div class="container">

    @* title  *@
    <div class="title-container">
        <h2 class="title">Penner PM</h2>
    </div>


    @* navigation  *@
    <div class="navigation-container">
        <h4 class="nav-header">NAVIGATION</h4>
        <IconButton Icon="ph ph-squares-four" Text="Dashboard" Href=""/>
        <IconButton Icon="ph ph-clipboard" Text="All Tasks" Href="tasks"/>
        <IconButton Icon="ph ph-clock" Text="Deadlines" Href="deadlines"/>
    </div>

    @* shows  *@
    <div class="shows-container">
        <h4 class="nav-header">SHOWS</h4>
        @if (_shows is not null)
        {
            foreach (var show in _shows)
            {
                <p>@show</p>
            }
        }
    </div>
</div>
