.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.icon {
    align-self: center;
    justify-self: center;
    padding-top: 3px;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}
