
::-webkit-scrollbar {
    width: 8px;
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-border);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-hover-background);
}

::-webkit-scrollbar-track {
    background-color: var(--side-background);
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}

.header {
    grid-column: 2;
    text-align: center;
}

.add-project-button {
    grid-column: 3;
    justify-self: end;
}

.project-list-container {
    display: flex;
    flex-direction: column;
    background: var(--side-background);
    gap: 1rem;
    flex-grow: 1;
}

.scrollable {
    overflow-y: auto;

    /*Firefox*/
    scrollbar-width: none;
    scrollbar-color: var(--primary-border) var(--side-background);
}

.project-container {
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    background: var(--side-background);
    padding: 10px 18px;
}

.project-container:hover {
    border: 2px solid var(--primary-hover-background);
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-name {
    flex-grow: 1;
}

.button-group {
    display: flex;
    gap: 1.3rem;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.icon:hover {
    cursor: pointer;
    color: var(--primary-hover-background);
}

.task-list {
    height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
}

.task-list.active {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    background: var(--primary-background);
    height: auto;
}

.add-project-button {
    border-radius: 2rem;
    border: none;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem 0.5rem;
}

.add-project-button:hover {
    background-color: var(--primary-hover-background);
    color: var(--primary-foreground);
}
