.project-list-container {
    display: flex;
    flex-direction: column;
    background: var(--side-background);
    gap: 1rem;
    flex-grow: 1;
}

.scrollable {
    overflow-y: auto;

    /*Firefox*/
    scrollbar-width: none;
    scrollbar-color: var(--primary-border) var(--side-background);
}

.project-container {
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    background: var(--side-background);
    padding: 12px;
}

.task-list {
    height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
}

.task-list.active {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    background: var(--primary-background);
    height: auto;
}


::-webkit-scrollbar {
    width: 8px;
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-border);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-hover-background);
}

::-webkit-scrollbar-track {
    background-color: var(--side-background);
}
