@page "/"
@page "/{CategoryId:int}"

<PageTitle>Home</PageTitle>

@if (_selectedCategory is not null)
{
    <h1>Hello, @_selectedCategory.Name!</h1>
}
else
{
    <h3>Select a Category!</h3>
}

Welcome to your new app.
